@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display+SC:900|Yeseva+One');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons');
// @import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:900');

$header-font: 'Playfair Display SC', serif;
// $logo-font: 'Yeseva One', cursive;
$logo-font: 'Playfair Display SC', serif;
$text-font: 'Montserrat', sans-serif;

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Yeseva One', cursive;
*/
