@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display|Yeseva+One');

$header-font: 'Playfair Display', serif;
$logo-font: 'Yeseva One', cursive;
$text-font: 'Montserrat', sans-serif;;

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Yeseva One', cursive;
*/
