@import "./fonts.scss";
@import "./colours.scss";
@import "./svg-icons.scss";

*, *::before, *::after {
  box-sizing: border-box;
}

p {
  font-family: $text-font;
  font-size: 1.7em;
  padding: 0em .3em 0em .3em;
}

hr.divider {
  border: 0;
  height: .09em;
  margin: 0em;
  padding: 0em;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.instagram-img {
  display: block;
  width: 100%;
}