.price-icon-container {
  display: flex;
  align-items: center;
  svg {
    width: 1.2em;
    height: 1em;
    margin: 0em .1em 0em .2em;
  }
}
/*
@media (max-resolution: 96dpi) {
  svg {
    display: flex;
    height: .4em;
    // margin: 0em .3em 0em .5em;
    color: red;
  }
}
*/
/*
@media (-webkit-min-device-pixel-ratio: 1.88) and (min-width:768px) {
  .price-icon-container {
    svg {
      display: flex;
      // height: 1.4em;
      // margin: 0em .3em 0em .5em;
    }
  }
}
@media (-webkit-min-device-pixel-ratio: 1.88) and (max-width:360px) {
  .price-icon-container {
    color: green;
    svg {
      margin: 0em 0em 0em 0em;
      
    }
  }
}
*/
