.price-icon-container {
  display: flex;
  align-items: center;
  svg {
    width: 1.7em;
    height: 1.5em;
    margin: 0em .3em 0em .6em;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.88) and (min-width:768px) {
  svg {
    display: flex;
    height: 1.4em;
    margin: 0em .3em 0em .5em;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.88) and (max-width:360px) {
  .price-icon-container {
    svg {
      margin: 0em 0em 0em 0em;
    }
  }
}
